body {
  background-image: url('ForestPark-2.jpg');
}

h1 img {
  max-width: 200px;
}

.jumbotron {
  background: rgba(255,255,255,.6);
}

.jumbotron p {
  size: 12px;
  color: green;
  text-shadow: black 1px 1px 1px;
}

h1{
  font-size: 86px;
  color: green;
  text-shadow: black 2px 2px 2px;
}

h2{
  text-shadow: black 2px 2px 4px;

}

h3 {
  color: green;
  text-shadow: black 2px 2px 4px;
}

li{
  color: white;
}

.navbar {
  background-color: rgba(255,255,255,.6);
}

.tagline {
  margin-left: 72%;
  margin-top: 16px;
}

.carousel img {
  width: 400px;
  max-width: 400px;
  height: 400px;
  max-height: 400px;
  margin: 0 auto;

}

.carousel {
  width: 50%;
  margin: 0 auto;
}

.lot-form input{
  width: 400px;
}

.lot-form textarea{
  width: 400px;
}
