<div class="container">
  <h1><img src="css/transparent-with-heart.png">Oregon Organs</h1>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'home'}}<strong>Buy Organs</strong>{{/link-to}}</li>
      <li>{{#link-to 'new-lot'}}Sell/Harvest Organs{{/link-to}}</li>
    </ul>
    <div class="tagline">
      <h4><em>...organ sales, with a heart!</em></h4>
    </div>
  </nav>
  {{outlet}}
</div>
